$cBlack:black;
$fontColor:red;


.three-dot-spinner {
   text-align: center;
   
   & div {
        display: inline-block;
        width: 18px;
        height: 18px;
        background-color: $cBlack;
        border-radius: 50% ;
        animation: sk-bouncedelay 1.4s infinite;

   }

   & .bounce1 {
     animation-delay: -0.32s;
   }

   & .bounce2 {
        animation-delay: -0.16s;
   }

}
.font {
     color: $fontColor;
}
.font2 {
     color: $fontColor;
}
.font3 {
     color: $fontColor;

}
.font4 {
     color: $fontColor;

}

@keyframes sk-bouncedelay {
    0% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
    80% {
        transform: scale(0);
    }
    100% {
        transform: scale(0);
    }
}