
body {
  background-color: aliceblue;

}

h1 {
  color: rgb(43, 43, 156);
}

input {
  padding-left: 50px;
  margin-left: 20px;
}

ul {
  display: flex;
}

li {
  margin: 5px 10px;
}

button {
  margin-right: 10px;
}